#container {
  position: relative;
}
#number-group {
  display: grid;
  width: 150px;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  > button {
    background-color: whitesmoke;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    border: none;
    padding: 0;
  }
  > button:nth-last-child(1) {
    grid-column: 1 / 4;
  }
}
#calculate-group {
  position: absolute;
  left: 150px;
  top: 0;
  > button {
    background-color: orange;
    border: 1px solid #fff;
    width: 50px;
    font-size: 30px;
    display: block;
    height: 50px;
  }
}
#NumberPade {
  display: flex;
}
.reset-button {
  > button {
    background-color: orange;
    border: 1px solid #fff;
    width: 150px;
    font-size: 30px;
    height: 50px;
  }
}
.display {
  background-color: darkgray;
  border: none;
  font-size: 30px;
  text-align: right;
  width: 200px;
  padding: 0;
  color: #fff;
}
